<form action="/tasks/add" method="POST">
    <div>
        <label for="title">Escribe un titulo</label>
        <input type="text" name="title" placeholder="title">
    </div>
    <div>
        <label for="description">descrption:</label>
        <textarea name="description" placeholder="Description">
        </textarea>
    </div>
    <button>Add</button>
</form>